.published-page-header .published-page-header-wrapper .published-page-title {
    font-size: 1.5em;
}

.published-page-content-body {
    font-size: 1.05em;
}

.published-page-author {
    display: none;
}